.h1 {
  font-size: var(--typography-h1);
  font-weight: 500;
  line-height: 55px;
}

.h2 {
  font-size: var(--typography-h2);
  font-weight: 300;
}

.h3 {
  font-size: var(--typography-h3);
}

.paragraph {
  font-size: var(--typography-paragraph);
}

.small-paragraph {
  font-size: var(--typography-small-paragraph);
}

.x-small-paragraph {
  font-size: var(--typography-x-small-paragraph);
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 600;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.opacity {
  opacity: 0.7;
}
