.container {
  background-color: var(--color-gray-100);
  overflow: hidden;
  position: relative;
}

.insideContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-18) var(--space-8);
  max-width: var(--container-width);
  margin: auto;
  position: relative;
}

.textContainer {
  max-width: var(--container-width);
  flex-direction: column;
  flex: 1;
}

.description {
  margin-top: var(--space-6);
  margin-bottom: var(--space-4);
  opacity: 0.7;
}

.column {
  flex: 1;
}

@media (max-width: 1000px) {
  .insideContainer {
    padding: var(--space-8) var(--space-8);
  }

  .textContainer {
    flex: 1.5;
  }
}

@media (max-width: 700px) {
  .insideContainer {
    flex-direction: column;
    padding: var(--space-10) var(--space-8) 0;
  }
}

@media (max-width: 450px) {
  .insideContainer h1 {
    font-size: 30px !important;
  }
}

.appStoreIcon {
  margin-top: var(--space-10);
  margin-bottom: var(--space-6);
  transition: opacity 100ms ease-out 100ms;
  cursor: pointer;
}
.appStoreIcon:hover {
  opacity: 0.6;
}

.logo {
  margin-bottom: var(--space-8);
}
