.container {
  max-width: var(--container-width);
  border-radius: var(--border-radius-regular);
  margin: var(--space-16) auto;
}

.insideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.description {
  max-width: var(--container-medium-width);
  margin-top: var(--space-4);
}

.appStoreIcon {
  margin-top: var(--space-10);
  transition: opacity 100ms ease-out 100ms;
  cursor: pointer;
}
.appStoreIcon:hover {
  opacity: 0.6;
}
