.container {
  max-width: var(--container-width);
  border-radius: var(--border-radius-regular);
  margin: var(--space-16) auto;
  display: flex;
  justify-content: center;
  column-gap: var(--space-15);
}

.insideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.description {
  max-width: var(--container-medium-width);
  margin-top: var(--space-2);
  opacity: 0.7;
}

.appStoreIcon {
  margin-top: var(--space-10);
  transition: color 100ms ease-out 100ms;
  cursor: pointer;
}
.appStoreIcon:hover {
  color: var(--color-primary);
}

@media (max-width: 1000px) {
  .particle3 {
    display: none;
  }
  .particle4 {
    display: none;
  }
}
