.container {
  overflow: hidden;
  position: relative;
}

.insideContainer {
  display: flex;
  justify-content: space-between;
  padding: var(--space-10) 0;
  max-width: var(--container-width);
  margin: auto;
  position: relative;
  column-gap: var(--space-8);
}

.column {
  flex: 1;
  row-gap: var(--space-8);
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius-regular);
  padding: var(--space-10);
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  color: var(--color-primary);
}

.aboutDescription {
  margin-top: var(--space-6);
  opacity: 0.7;
}

.description {
  margin-top: var(--space-6);
}

.link {
  text-decoration: underline;
  color: var(--color-primary);
  transition: color 100ms ease-out 100ms;
}

.link:hover {
  color: var(--color-secondary);
}

.transactionsImage {
  align-self: center;
  margin-bottom: -50px;
  margin-top: var(--space-10);
}

.transactionsCard {
  background-color: var(--color-gray-800);
  color: var(--color-white);
}

.accountsImage {
  margin-bottom: var(--space-10);
}

.budgetsImage {
  margin-top: var(--space-8);
  align-self: center;
}

.financialGoalsImage {
  margin-top: var(--space-8);
  align-self: center;
  margin-bottom: -50px;
}

.recurringPaymentsImage {
  margin-bottom: var(--space-8);
}

.transactionsTemplatesImage {
  margin-top: var(--space-8);
  align-self: center;
  margin-bottom: -50px;
}
